/* GENERAL */
/* Reset */
* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: #f6f8f9;
}

section {padding: 15px 70px}


/* HEADER */
header {
    background-color: #fff;
    padding: 10px 10px;
    
}

.logo {
    vertical-align: middle;
}

.logo_text {
    display: inline-block;
    vertical-align: middle
}



/* MAIN SECTION */
.conteiner {
    width: 60%; 
    margin: 0 auto; 
    background-color: #fff;
    margin-top: 35px;
    margin-bottom: 10px
}



/* BUTTON SECTION */
.button_section {
    border-bottom: 1px solid #f6f8f9;
}
.button {
    display: inline-block;
    padding: 10px;
    border: 1px solid #c5cbd0;
    color: #c5cbd0;
    border-radius: 5px;
}

.active {
    background-color: #47adf1;
    border: 1px solid #47adf1;
    color: white
}


/* LIST SECTION */
.list_item {
    margin-top: 40px;
    margin-bottom: 30px;
}

.item_content {
    margin-top: 30px;
}

.triangle {padding: 0 5px; }
.checked {
    
    border-radius: 20px;
    padding: 1px 4px;
    color: #64c0a9;
    border: 1px solid #64c0a9
}

.unchecked {
    
    border-radius: 20px;
    padding: 4px 5px;
    color: red;
    border: 1px solid red;
    font-size: 10px;
    vertical-align: middle;
    
}

.label {
    padding: 5px 10px; 
    font-size: 12px;
    border-radius: 10px;
    color: white
}

.blue_label {
    background-color: #45abea;
}

.purple_label {
    background-color: #9c72e4;
}

.green_label {
    background-color: #64c0a9;
}

.orange_label {
    background-color: orange;
}

.violet_label {
    background-color: #d863a1;
}

.secondgreen_label {
    background-color: #b0c926;
}